body {
    background-color: #fcfafc;;
    padding: 50px auto;
}

.main-logo{
  margin: 5% auto;
  width: 50%;
}

.inside-container {
    height: auto;
    background: #623973;
}

.btn-group{
  margin-top: 4%;
}

.btn {
  height: 40px;
  cursor: pointer;
  background: #623973;
  border: transparent;
  border-bottom: 4px solid #fcfafc;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5em;
  color: #fcfafc;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
  font-weight: bold;
  background: #fcfafc;
  border-bottom: transparent;
  color: #623973;
}

.btn:hover{
  opacity: .6;
}

.thumbnails{
  margin-top: 5%;
  margin-left: -1.5%;
}

.thumbnail{
  margin-bottom: 6%;
  padding: 0px;
  height: 370px;
}

.infocard {
    width: 100%;
    height: calc(400/16*8px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.caption:hover {
  color: #623973;
  opacity: .7;
}

a:link {
  text-decoration: none;
}



/* Avatar logos */
img.logo {
    width: 25%;
    border-radius: 50%;
    border: 8px solid #ccc;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 3.5%;
    margin-bottom: 10%;
}


/* Active or not active logo styles */
img.stream-on {
    border-color: #33cc33;
}

img.stream-off {
    border-color: #dd3333;
}
